<stream-channel-list></stream-channel-list>
<stream-channel>
  <stream-channel-header></stream-channel-header>
  <stream-message-list></stream-message-list>
  <stream-notification-list></stream-notification-list>
  <stream-message-input></stream-message-input>
  <stream-thread name="thread">
    <stream-message-list
      name="thread-message-list"
      mode="thread"
    ></stream-message-list>
    <stream-message-input
      mode="thread"
      name="thread-message-input"
    ></stream-message-input>
  </stream-thread>
</stream-channel>


<ng-template #customMessageTemplate let-message="message">
  <app-message [message]="message"></app-message>
</ng-template>

<ng-template #customChannelPreviewTemplate let-channel="channel">
  <app-channel-preview [channel]="channel"></app-channel-preview>
</ng-template>